<h1>Bienvenido </h1>
<div class="row" id="bit1">
  <h2> Bit1: <%= @ex1actual %></h2>
</div>
<div class="row" id="bit2">
  <h2> Bit2: </h2>
</div>
<div class="row">
  <div class="input-group mb-3 col-md-3 col-sm-12 col-xs-12">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Currency</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <% @currencies.each do |cu| %>
        <option value="<%= cu[1] %>"><%= cu[0] %></option>
      <% end %>
    </select>
  </div>
  <div class="input-group mb-3 col-md-3 col-sm-12 col-xs-12">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect02">Exchange</label>
    </div>
    <select class="custom-select" id="inputGroupSelect02">
      <% @exchanges.each do |ex| %>
        <option value="<%= ex[1] %>"><%= ex[0] %></option>
      <% end %>
    </select>
  </div>
  <div class="input-group col-md-3 col-sm-12 col-xs-12">
      <input type="text" class="form-control" name="" value="">
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <button type="button" name="button" class="btn btn-success my-lg-2">Convertir</button>
  </div>
  <div class="col-md-1 col-sm-122 col-xs-12 pt-sm-2">
    <h3>Convertido: </h3>
  </div>
</div>


<div class="row py-5">
    <h1>Grafico: </h1>
    <!-- <div class="chart-container" style="position: relative; height:40vh; width:80vw"> -->
      <canvas id="myChart" width="400" height="400"></canvas>
    <!-- </div> -->

    <!-- <div class="container">
      <h2>Chart.js Responsive Line Chart Demo</h2>
      <div>
        <canvas id="canvas"></canvas>
      </div>
    </div> -->
</div>
